modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Next.js App"

[[workflows.workflow]]
name = "Next.js App"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "start"]
build = ["npm", "run", "build"]

[userenv]

[userenv.shared]

[userenv.production]
NEXT_PUBLIC_FIREBASE_API_KEY = "AIzaSyDp_uI4zO6I3D5h8G1MK1bCAjIqH8prbJc"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN = "tamins-86ba3.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID = "tamins-86ba3"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET = "tamins-86ba3.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID = "952748602321"
NEXT_PUBLIC_FIREBASE_APP_ID = "1:952748602321:web:04ef672e0d44b70d5566f0"
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID = "G-EB2WJPP7FP"
NEXT_PUBLIC_FIREBASE_DATABASE_URL = "https://tamins-86ba3-default-rtdb.firebaseio.com"

[userenv.development]
NEXT_PUBLIC_FIREBASE_API_KEY = "AIzaSyDp_uI4zO6I3D5h8G1MK1bCAjIqH8prbJc"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN = "tamins-86ba3.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID = "tamins-86ba3"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET = "tamins-86ba3.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID = "952748602321"
NEXT_PUBLIC_FIREBASE_APP_ID = "1:952748602321:web:04ef672e0d44b70d5566f0"
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID = "G-EB2WJPP7FP"
NEXT_PUBLIC_FIREBASE_DATABASE_URL = "https://tamins-86ba3-default-rtdb.firebaseio.com"
